body {
  max-width:70ch;
  padding:2ch;
  margin:auto;
  color:#333;
  font-size:1.2em;
  background-color:#F2F2F2;
}
pre {
  white-space:pre-wrap;
  margin-left:4ch;
  background-color:#FFF;
  padding:1ch;
  border-radius:4px;
}
